
<ng-template [ngIf]="!(gruppiCombinati$ | async)">
  <div class="loading-container">
    <img src="../../../assets/images/loading.gif">
  </div>
</ng-template>
<ng-template [ngIf]="gruppiCombinati$ | async">
  <div class="results-container">
    <div class="list-container">
        <h3>Clienti</h3>
      <ul>
        <li *ngFor="let cliente of gruppi[0]">
          nome: {{ cliente.name || cliente}}
        </li>
      </ul>
  </div>
  <div class="list-container">
    <h3>Rivenditori</h3>
    <ul>
    <li *ngFor="let cliente of gruppi[1]">
      Rivenditore: {{ cliente.name || cliente}}
    </li>
    </ul>
  </div>
  <div class="list-container">
    <h3>Marche</h3>
    <ul>
      <li *ngFor="let cliente of gruppi[2]">
        Marcha: {{ cliente.name || cliente }}
      </li>
    </ul>
  </div>
</div>
</ng-template>

