@import "../../../../styles/colors.scss";

section.h-100.h-custom {
  background-color: $primary-color-3!important;
}

.card.rounded-3 {
  border-color: $primary-color-1;
  border-width: 2px;
}

.container-publish {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .publish {
      margin-right: 10px;
    }
}

.help {
  color: red;
}

.select {
  float: right;
}

.container-modal {
  background: #0000008a;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  z-index: 10px;
  align-items: center;
}



.modal-footer {
  background-color: $primary-color-1!important;

  button.btn {
    background: white!important;
}
}

.modal-header {
  background-color: $primary-color-1;

  h3 {
    color: $secondary-color-1;
    align-content: center;
    display: contents;
    font-size: large;
  }

  button.btn-close {
    /* color: white; */
    background-color: white;
    opacity: 1;
}
}

.btn-primary {
  background-color: $primary-color-1;
  border-color: $primary-color-1;
}

.titolo {
  font-size: 35px!important;
  color: #8e210b!important;
  font-family: 'Homemade Apple', cursive !important;
}

div#container-utente {
  background: #0000008a;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  z-index: 10px;
  align-items: center;
}

div#dati-utente {
  background: white;
  width: 50%;
  height: 450px;
  border: 5px solid $primary-color-1;
  border-radius: 30px;
  padding: 16px;
  font-size: 16px;
}

img.stelline-newrecipe {
  width: 40%;
}

.image-recap {
  width: 50%;
  justify-content: end;
  display: flex!important;

  .image-newrecipe {
    width: 100%;
  }
}

.button-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 16px;

  button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: $primary-color-1;
    border: none;
    font-size: 19px;
    color: $secondary-color-1;
  }
}

.bg-image {
  background-image: url('../../../../assets/images/pattern-1.jpg');
  background-size: 20%;
}

section.vh-100.bg-image {
  height: 1300px!important;
}

h2 {
  text-align: center;
  font-size: 25px!important;
  margin-bottom: 28px!important;
}

.close-button {
  display: flex;
  justify-content: space-evenly;
}

.riepilogo {
  margin-bottom: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  section.vh-100.bg-image {
    background-size: 60%;
    height: 1110px!important;

    .difficulty {
        flex-direction: column;
        display: flex;
    }
  }

  div#dati-utente {
    width: 95%;
    height: 380px;
  }

  img.stelline-newrecipe {
    width: 45%;
}
  .image-recap {
      width: 50%;
      justify-content: end;
      display: flex!important;

      .image-newrecipe {
        width: 100%;
      }
  }

  .riepilogo {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 15px!important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  section.vh-100.bg-image {
    background-size: 60%;
    height: 1110px!important;

    .difficulty {
      flex-direction: column;
      display: flex;
  }
}

div#dati-utente {
  width: 95%;
  height: 380px;
}

img.stelline-newrecipe {
  width: 45%;
}
.image-recap {
    width: 50%;
    justify-content: end;
    display: flex!important;

    .image-newrecipe {
      width: 100%;
    }
}

.riepilogo {
  margin-bottom: 15px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div#dati-utente {
    width: 75%;
    height: 420px;
  }

  img.stelline-newrecipe {
    width: 45%;
  }
  .image-recap {
      width: 50%;
      justify-content: end;
      display: flex!important;

      .image-newrecipe {
        width: 100%;
      }
  }
}
