@import "../../../styles/colors.scss";

.card-container {
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.5%;
  margin-bottom: 20px;

  .card {
    --bs-card-border-radius: 2rem;
    text-align: center;
  }

  .card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .card-body {
    .card-title {
      font-weight: 900;
      font-size: 20px;
      color: $primary-color-1;
      margin-bottom: 5px;
    }

    .card-text {
      text-align: justify;
      margin-bottom: 20px;
    }
  }

    a.btn.btn-primary {
      background: #8e210b;
      border: none;
      margin: auto;
      padding: 8px, 35px;
    }
  }

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .card-container {
    width: 100%;
    margin-left: 0%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card-container {
    width: 45%;
    margin-left: 3%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    width: 30%;
    margin-left: 2%;
  }
}
