<!-- <section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrati</p>

                <form class="mx-1 mx-md-4" #f="ngForm" (ngSubmit)="onSubmit(f.value)">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <mat-icon>person</mat-icon>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" name="name" id="name" class="form-control" placeholder="scrivi il tuo nome" ngModel/>
                      <label class="form-label" for="form3Example1c">Il tuo nome</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <mat-icon> email</mat-icon>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" name="email" id="email" class="form-control" placeholder="email" ngModel/>
                      <label class="form-label" for="form3Example3c">La tua Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" name="password" id="password" class="form-control" placeholder="password" ngModel/>
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0 rep-pass">
                      <input type="password" name="repPassword" id="repPassword" class="form-control" ngModel/>
                      <label class="form-label" for="form3Example4cd">Ripeti password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" name="terms" type="checkbox" value="" id="terms" ngModel/>
                    <label class="form-check-label" for="form2Example3">
                      Dichiaro di accettare i <a href="#!">Termini del servizio</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Registrati</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="../../../assets/images/registrazione.jpg"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrati</p>

                <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">

                  <div class="d-flex flex-row align-items-center mb-4">

                    <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                    <div class="form-outline flex-fill mb-0">
                      <div class="d-flex align-items-center">
                        <mat-icon>person</mat-icon>
                        <input type="text" name="name" id="name" class="form-control" placeholder="scrivi il tuo nome" formControlName="name"/>
                        <label class="form-label" for="form3Example1c">Il tuo nome</label>
                      </div>
                      <p class="help is-danger" *ngIf="!form.get('name').valid && form.get('name').touched">Il campo nome è obbligatorio</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <mat-icon> email</mat-icon>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" name="email" id="email" class="form-control" placeholder="email" formControlName="email"/>
                      <label class="form-label" for="form3Example3c">La tua Email</label>
                      <p class="help is-danger" *ngIf="form.controls.email.hasError('required') &&form.get('email').touched">Il campo email è obbligatorio</p>
                      <p class="help is-danger" *ngIf="form.controls['email'].hasError('email') &&form.get('email').touched">Il campo email non contiene una email valida</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <mat-icon>lock</mat-icon>
                    <div class="form-outline flex-fill mb-0">
                      <!-- <input type="password" name="password" id="password" class="form-control" placeholder="password" formControlName="password"/> -->
                      <p-password [toggleMask]="true" strongRegex="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$" formControlName="password"></p-password>
                      <label class="form-label" for="form3Example4c">Password</label>
                      <p class="help is-danger" *ngIf="form.get('password').hasError('required') && form.get('password').touched">Il campo password è obbligatorio</p>
                      <p class="help is-danger" *ngIf="form.get('password').hasError('pattern') && form.get('password').touched">Il campo password deve essere lungo almeno 8 caratteri, di cui almeno 2 speciale, 1 minuscola, 1 maiuscola ed 1 speciale</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <mat-icon>lock</mat-icon>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" name="repPassword" id="repPassword" class="form-control" formControlName="repPassword"/>
                      <label class="form-label" for="form3Example4cd">Ripeti password</label>
                      <p class="help is-danger" *ngIf="!form.get('repPassword').valid && form.get('repPassword').touched">Il campo ripeti password è obbligatorio</p>
                      <p class="help is-danger" *ngIf="form.getError('diversa') && form.get('repPassword').touched">La password inserita non combacia</p>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" name="terms" type="checkbox" value="" id="terms"  formControlName="terms"/>
                    <label class="form-check-label" for="form2Example3">
                      Dichiaro di accettare i <a href="#!">Termini del servizio</a>
                    </label>
                    <p class="help is-danger" *ngIf="form.get('terms').hasError('required') && form.get('terms').touched">Per proseguire è obbligatorio accettare le clausole</p>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!form.valid">Registrati</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="../../../assets/images/registrazione.jpg"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
