@import "../../../../styles/colors.scss";

.col-xl-7 {
  width: 50%;
}

.col-xl-5 {
  width: 50%;
  padding-top: 50px;
}

.card-body {
  padding: 0!important;
}

.img-fluid {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 100%;
  object-fit: cover;
}

.h-100 {
  padding-top: 20px;
  padding-bottom: 50px;
}

.btn {
  background: $primary-color-1;
  border-color: $primary-color-1;
}

.mat-icon {
  margin-right: 4px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

.help {
  color: red;
  text-align: center;
  margin-top: 8px;
  margin-bottom: -16px;
}

.ins-form {
  margin-left: 30px;
  font-size: 18px;
}

.form-check {
  flex-direction: column;

  .form-check-label {
    margin-top: -16px;
    margin-bottom: 10px;
  }
}

.modal-content {
  border: 5px $primary-color-1;


}

.modal-footer {
  background-color: $primary-color-1!important;

  button.btn {
    background: white!important;
}
}

.modal-header {
  background-color: $primary-color-1;

  h3 {
    color: $secondary-color-1;
    align-content: center;
    display: contents;
    font-size: large;
  }

  button.btn-close {
    /* color: white; */
    background-color: white;
    opacity: 1;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .inverti {
    flex-direction: column;
  }

  .img-fluid {
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 0;
    height: 200px;
    object-fit: none;
    width: inherit;
  }

  .adjust {
    width: 100%;
  }

  .col-xl-5 {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .inverti {
    flex-direction: row-reverse;
  }
}
