@import "../../../styles/colors.scss";

footer {
  height: 150px;
  justify-content: space-around;
  display: flex;
  float: left;
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: 30px;
  padding: 16px;
}

h3 {
  color: $secondary-color-1;
  font-size: 20px!important;
}

a {
  color: $secondary-color-1;
}

svg {
  vertical-align: text-bottom;
  margin-right: 9px;
  margin-top: 2px;
}

.icona-cibando {
  width: 60px;
  margin-right: 5px;
}
